@use '../../assets/css/settings/colors' as c;

.task-item {
  width: 100%;
  background-color: c.$border;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  label {
    color: #c0bec3;
    margin-left: 10px;
  }
}
