@use '../../assets/css/settings/colors';

.float-label {
  height: 40px;
  width: 100%;
  position: relative;

  .label {
    font-size: 14px;
    line-height: 1.29;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 10px;
    color: $text-2;
    z-index: 1;
    transition: 0.2s ease all;
  }
  .label-float {
    top: 2px;
    font-size: 12px;
  }
}
